body {
  margin-top: 40px 0;
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
  text-align: center;
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-top: 20px 0;
  background-color: aqua;
}

p {
  font-size: 25px;
  font-family: "Montserrat", sans-serif; 
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: large;
  font-family: "Montserrat", sans-serif; 
  font-style: normal;
  border-radius: 95px;
  background-size: 20px;
  color: black;
};